/* 
transform: 웹 요소를 변형시킴   ex. rotate, skew, scale... etc
transition: 웹 요소의 스타일을 바꿈

grid레이아웃은 px을 사용하면 크기가 고정되어 반응형 웹 디자인에는 적합하지 않기에 fr단위를 씀
값이 반복될때는 repeat함수를 쓰면 간단하게 작성가능

*/
body {
  margin: 16px;
  display: flex;
}

div {
  padding: 16px;
}

.btn {
  margin: 16px;
  padding: 16px;
  background: aquamarine;
  border-radius: 32px;
  color: white;
  /* a의 밑줄제거 */
  text-decoration: none;
  font-size: 2em;
}

.css-box {
  margin: auto;
  display: flex;
  flex-direction: row;
}

.doc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.youtube {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
