.card {
    background-color: mediumpurple;
    width: 100px;
    height: 100px;
}

body{
    background-image: url("http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg");
    background-size: cover;
    background-attachment: fixed;
}